# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# -------------------------
# Virtual Environments
# -------------------------
venv/
.env/
.envrc
.venv/

# -------------------------
# Environment / Secrets
# -------------------------
*.env
*.key
*.secret

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# IDEs / Editors
# -------------------------
.vscode/
.idea/

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db
